body {
    margin: 0;
    padding: 0;
    background-image: url('body-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.box, .box-2, .box-3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    max-width: 600px;
    padding: 50px 100px 50px 100px;
    text-align: center;
    border: 5px solid black;
    border-radius: 12px;
    color: chocolate;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.responsive-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lamps */

.btn-1 {
    background-color: rgb(196, 19, 19);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-2 {
    background-color: rgb(19, 196, 19);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-2:hover {
    background-color: rgb(41, 209, 55);
}

.btn-1:hover {
    background-color: tomato;
}

footer {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}

@media screen and (max-width: 700px) {
    .content {
        text-align: center;
        width: 100%;
    }
}